@{
    ViewData["Title"] = "Home Page";
}

@model SteamItemModel

<form asp-action="Index" method="post">
    <input asp-for="InputItemName" class="form-control" />
    <button type="submit">Submit</button>
</form>

@if (Model != null && Model.IsValidName)
{
    <h3>Graphs for: @Model.InputItemName</h3>
}
else
{
    <h3>Invalid item name!</h3>
}

@* @ViewBag.jsonPriceHistoryDate
@ViewBag.jsonPriceHistoryPrice
 *@

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    var dates = @Html.Raw(Json.Serialize(ViewBag.jsonPriceHistoryDate));
    var prices = @Html.Raw(Json.Serialize(ViewBag.jsonPriceHistoryPrice));
</script>

<script src="~/js/example.js"></script>
<div id="historicPriceChart" style="width:100%; height:500px;"></div>

@* <partial name="~/Views/Graphs/HistoricPriceChart.cshtml" /> *@

