@{
    ViewData["Title"] = "Home Page";
}

@model SteamItemModel

<form asp-action="Index" method="post">
    <input asp-for="InputItemName" class="form-control" />
    <button type="submit">Submit</button>
</form>

@if (Model != null && Model.IsValidName)
{
    <h3>Graphs for: @Model.InputItemName</h3>
}
else
{
    <h3>Invalid item name!</h3>
    <h3>Showing default graphs for: Glove Case Key</h3>
}

<!-- old plotly code-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
    var dates = @Html.Raw(Json.Serialize(ViewBag.jsonPriceHistoryDate));
    var prices = @Html.Raw(Json.Serialize(ViewBag.jsonPriceHistoryPrice));
</script>

<script src="~/js/example.js"></script>
<div id="historicPriceChart" style="width:100%; height:500px;"></div>
<!-- old plotly code-->


@* <partial name="~/Views/Graphs/HistoricPriceChart.cshtml" /> *@






@using Highsoft.Web.Mvc.Stocks
@using Highsoft.Web.Mvc.Stocks.Rendering

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">

    function formatYAxis() {
        return (this.value > 0 ? ' + ' : '') + this.value + '%';
    }

</script>

@{
    var chartOptions =
          new Highstock
            {
                RangeSelector = new RangeSelector
                {
                    Selected = 1
                },
                Title = new Title
                {
                    Text = @Model.InputItemName
                },
                Series = new List<Series>
                {
                    new AreasplineSeries
                    {
                        Data = ViewBag.AppleData as List<AreasplineSeriesData>,
                        Name = "Apple Stock Price",
                        TurboThreshold = 10000,
                        Tooltip = new AreasplineSeriesTooltip
                        {
                            ValueDecimals = 2
                        },
                        FillColor = @ViewBag.fillColor
                    }
                }
            };

    chartOptions.ID = "chart";
    var renderer = new HighstockRenderer(chartOptions);
}

@Html.Raw(renderer.RenderHtml())